<div *ngIf="afAuth.user | async as user; else showLogin">
  <strong>
    Hello {{ user.displayName }}!
  </strong>
  <button mat-icon-button (click)="showUserDetails=!showUserDetails">
      <mat-icon aria-label="account details" color="accent">account_circle</mat-icon>
  </button>
  
</div>
<ng-template #showLogin>
  <p>Sign-in to use all features
     <button mat-icon-button (click)="showSignIn=!showSignIn">
      <mat-icon aria-label="sign-in" color="accent" >exit_to_app</mat-icon>
    </button>
    </p> 
</ng-template>

<ngx-auth-firebaseui-user *ngIf="showUserDetails && afAuth.user"
  (onSignOut)="hideSignInUI()"	
></ngx-auth-firebaseui-user>
<div *ngIf="showSignIn || showUserDetails">
  <p>Sign-in options</p>
    <ngx-auth-firebaseui
    [providers] = "['google']"
    (onSuccess)="hideSignInUI()"
    (onError)="hideSignInUI()">

    </ngx-auth-firebaseui>
</div>

